### Options for configuring rss2kindle ###

# Wallabag
WALLABAG_URL = 'https://www.wallabag.it/'
WALLABAG_USERNAME = 'Your username'
WALLABAG_PASSWORD = 'Your passwrod associated with your username'
WALLABAG_CLIENT_ID = 'Your client ID (se Wallabag documentation)'
WALLABAG_CLIENT_SECRET = 'Your client secret key (se Wallabag documentation)'


# 1: Call Wallabag once per post.
# 0: Call Wallabag every time a post changes.
TRUST_GUID = 1

# 1: Name feeds as they're being processed.
# 0: Keep quiet.
VERBOSE = 0


# Set this to override the timeout (in seconds) for feed server response
FEED_TIMEOUT = 60

# If you have an HTTP Proxy set this in the format 'http://your.proxy.here:8080/'
PROXY = ""
