### Options for configuring rss2kindle ###

# Readability : see https://www.readability.com/account/api
READABILITY_CONSUMER_KEY = 'Reader API Key : Key field'
READABILITY_CONSUMER_SECRET = 'Reader API Key : Secret field'

READABILITY_USER = 'your login on readability.com'
READABILITY_PASSWORD = 'your password on readability.com'


# 1: Receive one email per post.
# 0: Receive an email every time a post changes.
TRUST_GUID = 1

# 1: Name feeds as they're being processed.
# 0: Keep quiet.
VERBOSE = 0


# Set this to override the timeout (in seconds) for feed server response
FEED_TIMEOUT = 60

# If you have an HTTP Proxy set this in the format 'http://your.proxy.here:8080/'
PROXY = ""
